/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Josefin+Sans:wght@300&display=swap");

* {
	font-family: "Josefin Sans", sans-serif;
}

h1,
h2,
h5,
p {
	color: #476985;
}

/* Header */
.navbar {
	color: #476985;
	justify-content: end;
	height: 135px;
}

@media screen and (min-width: 570px) {
	.navbar {
		padding-bottom: 2.5rem;
	}
}

/* Reuslt Modal */
.modal {
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	display: block !important;
}

#modal-card {
	width: 60%;
}

@media screen and (max-width: 570px) {
	#modal-card {
		width: 90%;
	}

	.modal-weather-logo {
		margin-top: -23% !important;
	}
}

.display-block {
	display: block;
}

.display-none {
	display: none;
}

.modal-weather-logo {
	width: 30%;
	margin-top: -6%;
	margin-left: 35%;
	margin-bottom: 3%;
}

/* Location Cards */
.location-cards {
	width: 30%;
	display: inline-block;
}

@media screen and (min-width: 570px) {
	.card {
		min-height: 250px;
	}
}

.card {
	background-image: url(../assets/cardBG.jpg);
	background-size: cover;
	height: 100%;
	border-radius: 1.25rem !important;
	box-shadow: 0px 8px 16px 4px #9e9e9e;
	padding: 10px;
}

#modal-card {
	min-height: 250px;
}

.empty-card {
	height: 300px;
}

.hide {
	display: none;
}

.empty-card:hover > .hide {
	display: block;
	text-align: center;
	margin-bottom: 50%;
}

.remove-button,
.info-button {
	right: 5% !important;
	margin-top: 2%;
}

.info-button {
	margin-left: 92%;
	margin-bottom: 2%;
	color: #9dd0af !important;
}

.info-button-loc {
	display: none;
}

.weather-logo {
	height: 200px;
	width: auto;
	object-fit: contain;
}

/* Footer */
footer {
	position: relative;
	text-align: center;
	color: white;
}

.copyright {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 15px;
	margin-bottom: 0;
}

/* Page Layout */
#hero-image {
	width: 100%;
	max-height: 570px;
	object-fit: cover;
	object-position: 50% 60%;
	opacity: 0.75;
}

.weather-table-container {
	background-size: contain;
}

.fav-item-icon {
	color: #ffdf8c !important;
}

.bookmark-icon {
	cursor: pointer;
	color: #6582bc;
}

.remove-icon {
	color: red;
	cursor: pointer;
}

.info-icon {
	color: #6582bc;
	cursor: pointer;
}

.alert {
	background-color: #87ceeb;
	border-color: #87ceeb;
	width: 65%;
	margin: 5px auto 0;
}

/* SearchBar */
.SearchDiv {
	height: 175px;
}

#SearchBar {
	position: relative;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 1s;
	width: 150px;
	height: 150px;
	box-sizing: border-box;
}

.search-input {
	position: absolute;
	top: 35%;
	left: 0;
	width: 100%;
	height: 42.5px;
	line-height: 30px;
	outline: 0;
	border: 0;
	display: none;
	font-size: 1em;
	border-radius: 55px;
	padding: 0 20px;
	z-index: 1;
}

.fa {
	box-sizing: border-box;
	padding: 10px;
	width: 42.5px;
	height: 42.5px;
	position: absolute;
	top: 35%;
	right: 0;
	border-radius: 50%;
	color: #add7c9;
	text-align: center;
	font-size: 1.2em;
	transition: all 1s;
}

#SearchBar:focus-within,
#SearchBar:hover,
#SearchBar:valid {
	width: 200px;
	cursor: pointer;
}

.search-input:focus,
#SearchBar:hover .search-input,
#SearchBar:valid .search-input {
	display: block;
}

#SearchBar:hover .fa,
#SearchBar:valid .fa {
	background: #ffdf8c;
	color: #ffdf8c;
}

#SearchBar:valid a {
	display: block;
}

.search-icon {
	transition: all 1s;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 40%;
	right: 40%;
	color: #9dd0af;
	z-index: 2;
}

#SearchBar:focus-within .search-icon,
#SearchBar:hover .search-icon,
#SearchBar:valid .search-icon {
	right: 5px;
}

/* Cloud https://codepen.io/fershocastro/pen/dVBgxQ */
.cloud {
	width: 350px;
	height: 120px;

	background: #ffdf8c;
	background: linear-gradient(top, #ffdf8c 5%, #ffdf8c 100%);
	background: -webkit-linear-gradient(top, #ffdf8c 5%, #ffdf8c 100%);
	background: -moz-linear-gradient(top, #ffdf8c 5%, #ffdf8c 100%);
	background: -ms-linear-gradient(top, #ffdf8c 5%, #ffdf8c 100%);
	background: -o-linear-gradient(top, #ffdf8c 5%, #ffdf8c 100%);

	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;

	position: relative;
	margin: 60px -68%;
}

@media screen and (max-width: 570px) {
	.cloud {
		margin: 60px -40%;
		width: 310px;
	}
}

.cloud:after,
.cloud:before {
	content: "";
	position: absolute;
	background: #ffdf8c;
	z-index: -5;
}

.cloud:after {
	width: 100px;
	height: 100px;
	top: -50px;
	left: 50px;

	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

.cloud:before {
	width: 180px;
	height: 180px;
	top: -90px;
	right: 50px;
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}

/* clears the 'X' from Internet Explorer */
.search-input[type="search"]::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}

.search-input[type="search"]::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

/* clears the 'X' from Chrome */
.search-input[type="search"]::-webkit-search-decoration,
.search-input[type="search"]::-webkit-search-cancel-button,
.search-input[type="search"]::-webkit-search-results-button,
.search-input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

.navText {
	font-size: 46px;
	color: #87ceeb;
	font-weight: bold;
	text-align: center;
	margin-left: -35%;
}

.navTextLogout {
	margin-left: -15% !important;
}

/* Navbar Cloud Frame https://itecnote.com/tecnote/css-apply-border-to-a-cloud-shape/ */
.navItem {
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;

	box-sizing: border-box;
	width: 150px;
	height: 150px;
	padding: 80px 1em 0 1em;

	position: relative;

	/* background-color: #809BCE; */
	background-color: white;

	border-radius: 100% 100% 0 0;
}

.navItem::before,
.navItem::after {
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
	content: "";

	position: absolute;
	bottom: 0;

	z-index: -1;

	background-color: white;
	border-radius: 100%;
}

.navItem::before {
	/* This is the size of the clouds left ear */
	width: 125px;
	height: 125px;

	left: -80px;

	border-bottom-right-radius: 0;
}

.navItem::after {
	/* This is the size of the clouds left ear */
	width: 100px;
	height: 100px;

	right: -60px;
	border-bottom-left-radius: 0;
}

@media screen and (max-width: 570px) {
	.list-item {
		transform: scale(0.2) !important;
		width: 70px;
	}

	.list-items {
		margin-top: -15%;
		margin-right: 2px;
	}

	#brand {
		margin-top: -15%;
	}
}

.list-item {
	transform: scale(0.4);
}

.navbar-brand {
	color: white;
}

a:link {
	text-decoration: none;
}

.navItem:hover,
.navItem:hover::before,
.navItem:hover::after {
	background-color: #ffdf8c;
}

nav ul {
	margin-left: auto !important;
	display: -webkit-box !important;
}

@media screen and (max-width: 1200px) {
	nav {
		background-image: url(../assets/skymob2.svg) !important;
	}
}

nav {
	display: flex;
	background-image: url(../assets/sky.svg);
	background-size: cover;
}

#brand {
	position: absolute;
	right: 45%;
	font-size: 30px;
}

button,
input[type="submit"],
input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.form-group {
	margin: 15px;
}

.btn-primary {
	margin-left: 5%;
	background-color: #87ceeb;
	border: #87ceeb;
}

div.active,
div.active::before,
div.active::after {
	background-color: #ffdf8c;
}

.med-font {
	font-size: 1.25rem;
}
