/* Fonts */
*{
  font-family: Arial;
}

h1, h2, h5, p{
  color: #476985;
}

/* Header */
.navbar{
  background-color: #E1F2FF;
  color: #476985;
}

/* Reuslt Modal */
.modal {
  position: fixed;
  /* top: 10%;  
  left: 40%; */
  background: rgba(0,0,0,0.5);
  display: block !important;
}

#modal-card{
  width: 60%;
}
  
.display-block {
  display: block;
}
  
.display-none {
  display: none;
}

.modal-weather-logo{
  width: 20%;
  margin-left: 60%;
}

/* Location Cards */
.location-cards{
  width:30%;
  display: inline-block;
}

.card {
  /* background-color: #C4E4FF !important; */
  background-image: url(../assets/cardBG.jpg);
  background-size: cover;
  min-height: 250px;
  border-radius: 1.25rem !important;
  box-shadow: 0px 8px 16px 4px #9E9E9E;
  padding: 10px;
}

.empty-card{
  border: 5px dashed blue !important;
}

.hide {
  display: none;
}

.empty-card:hover > .hide{
  display: block;
  text-align: center;
  margin-bottom: 50%;
}

.remove-button, .info-button{
  right: 5% !important;
  margin-top: 2%;
}

.info-button{
  margin-left: 92%;
  margin-bottom: 2%;
}

.info-button-loc{
  display: none;
}

.weather-logo{
  width: 20%;
}

/* Search Bar */
#SearchBar{
  width: 50%;
  margin: 100px 0 100px 25%;
  display: flex;
  position: absolute;
  top: 10%;
  /* top: 35%; */
}
/* @media screen and (max-width:570px) {
	#SearchBar {
		top: 10%;
	}
} */

/* Footer */
footer {
  background-color: #E1F2FF;
  padding: 25px;
}
.copyright{
  margin-top: 15px;
	text-align: center;
	font-size: 13px;
	color: #aaa;
	margin-bottom: 0;
}

/* Page Layout */
#hero-image{
  width: 100%;
	max-height: 570px;
	object-fit: cover;
	object-position: 50% 60%;
	opacity: 0.75;
}

.weather-table-container{
  /* background-color: #E1F2FF; */
  /* background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../assets/Background.jpg); */
  background-size: contain;
}

.form-group{
  margin-bottom: 10px;
}

form{
  margin-top: 20px;
  margin-bottom: 20px;
}

.alert{
  margin-bottom: 0 !important;
}

.fav-item-icon{
  color: #FFDF8C !important;
}

.alert{    width: 65%;
  height: 40px;
  left: 60%;
  /* margin-bottom: 5px !important; */
  padding: 1px !important;}

  .SearchDiv{
    height:250px;
  }