*{
  font-family: Arial;
}

.modal {
    position: fixed;
    top: 10%;
    left: 40%;
    /* width:20%;
    height: 20%; */
    background: rgba(0,0,0,0.5);
    display: block !important;
  }

  #modal-card{
    width: 60%;
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

  .locationCards{
    width:30%;
    display: inline-block;
}

.card {
  /* background-image: url("https://i.imgur.com/dpqZJV5.jpg"); */
  /* background-size: cover; */
  /* width: 600px; */
  background-color: #C4E4FF !important;
  min-height: 250px;
  border-radius: 1.25rem !important;
  box-shadow: 0px 8px 16px 4px #9E9E9E;
  /* margin-top: 50px; */
  /* margin-bottom: 50px; */
  padding: 10px;
}

.empty-card{
  border: 5px dashed blue !important;
}

.hide {
  display: none;
}

.empty-card:hover > .hide{
  display: block;
  text-align: center;
  margin-bottom: 50%;
}

#SearchBar{
  width: 50%;
  margin: 100px 0 100px 25%;
  display: flex;
	/* position: relative; */
  position: absolute;
  top: 35%;
}

@media screen and (max-width:570px) {
	#SearchBar {
		top: 10%;
	}
}

.weather-logo{
  width: 20%;
}

.modal-weather-logo{
  width: 20%;
  margin-left: 60%;
}

.Remove-Button, .Info-Button{
  right: 5% !important;
  margin-top: 2%;
}

.Info-Button{
  margin-left: 92%;
  margin-bottom: 2%;
}

.Info-Button-Loc{
  display: none;
}

footer {
  background-color: #E1F2FF;
  padding: 25px;
}
.copyright{
  margin-top: 15px;
	text-align: center;
	font-size: 13px;
	color: #aaa;
	margin-bottom: 0;
}

#hero-image{
  width: 100%;
	max-height: 570px;
	object-fit: cover;
	object-position: 50% 60%;
	opacity: 0.75;
}

.weather-table-container{
  background-color: #E1F2FF;
}

.navbar{
  background-color: #E1F2FF;
}